# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Env
.env
server.log

# Node
node_modules/
dist/
.next/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# GCP
*.json
!package.json
service-account*.json
